.time-input{
	width: 200px;
	text-align: center;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 5px;
	font-weight: bold;
	font-size: 18px;
}
.time-placar-input{
	height: 200px;
	width: 200px;
	font-size: 80px;
	text-align: center;
	margin: auto;
}
.page-title{
	width: 100%;
	text-align: center;
	background: #333;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}
.footer-brand{
	padding: 15px;
	font-size: 28px;
	text-align: center;
}